{#
templates/home/espace.html.twig
Espace sécurisé de l'application ADDAMAS.

Author : Julien Préau <julienpreau@free.fr>
Version : 1.0.0
#}

{% extends 'base.html.twig' %}

        {% block body %}
            <p> Identifiant </p>
            <form> </form>
            <p> Mot de Passe </p>
            <form> </form>
            <button>Valider</button>
        {% endblock %}