{#
templates/home/espace.html.twig
Espace Client sécurisé de l'application ADDAMAS.

Author : Julien Préau <julienpreau@free.fr>
Version : 1.0.0
#}

{% extends 'base.html.twig' %}

        {% block body %}
                <p>Bonjour <? xxx >,<br>
                Bienvenue sur votre espace sécurisé<br>
                </p>
        {% endblock %}