{#
templates/home/historique.html.twig
Historique & Valeurs de l'application ADDAMAS.

Author : Julien Préau <julienpreau@free.fr>
Version : 1.0.0
#}

{% extends 'base.html.twig' %}

        {% block body %}
           <p> Cette force relève de 3 engagements significatifs :

               Une structure à taille humaine pour rester ancré au plus près des préoccupations de ses clients, de manière à apporter des réponses pertinentes et pérennes, en phase avec les besoins du marché ;
               Le choix délibéré des partenaires mandataires pour garantir la qualité de service et le professionnalisme d’Addamas à l’échelle nationale ;
               Une conception du funéraire fondée sur une prise en charge globale, réintégrée dans le cycle de la vie.
               Grâce à sa gamme de services connexes exclusifs, Addamas garantit un accompagnement renforcé au-delà du seul moment des obsèques.
               Addamas est née de l’expertise de son dirigeant, acquise tout au long de son parcours professionnel sur le marché du courtage, de la prévoyance obsèques et des services funéraires.
               De solides compétences et une connaissance consolidée du secteur funéraire, plus largement du marché des seniors,
               ont permis à Addamas de cultiver une vraie proximité avec les souscripteurs et les entreprises de Pompes Funèbres,
               tout en portant une attention particulière à leurs aspirations respectives.
               Addamas a ainsi été conçue comme une réponse moderne à l’ensemble des préoccupations exprimées.  </p>
        {% endblock %}