{#
templates/home/home.html.twig
Accueil de l'application.

Author : Julien Préau <julienpreau@free.fr>
Version : 1.0.0
#}

{% extends 'base.html.twig' %}

{% block body %}
    <span class="btnMenuActive" title="Retour à la page d'accueil">
        <i class="fas fa-home"></i>
    </span>
{% endblock %}