{#
templates/home/home.html.twig
Accueil de l'application ADDAMAS.

Author : Julien Préau <julienpreau@free.fr>
Version : 1.0.0
#}

{% extends 'base.html.twig' %}

        {% block body %}
           <p> Addamas bouscule les codes du marché en proposant un modèle résolument novateur qui se démarque par des valeurs, une gouvernance et un projet d’entreprise uniques.   </p>
        {% endblock %}