{#
templates/home/produits.html.twig
Produits d'assurance de l'application ADDAMAS.

Author : Julien Préau <julienpreau@free.fr>
Version : 1.0.0
#}

{% extends 'base.html.twig' %}

        {% block body %}
            <p> Produits d'Assurance </p>
            <p> Prévoyance Obsèques</p>
        {% endblock %}